# Dependencies
node_modules/

# Environment variables
.env
.env.test

# IDE
.idea/

# Test coverage
coverage/

# Playwright
blob-report/
playwright/.cache/
playwright-report/
test-results/
tests/e2e/.auth/

# SonarQube
.scannerwork/
